* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}

:root {
  --main-color: #f10;
  --second-color: #144272;

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Tajawal', sans-serif;
      background-image: radial-gradient(circle at center center, transparent,rgb(0,0,0)),linear-gradient(300deg, rgba(198, 198, 198,0.05) 0%, rgba(198, 198, 198,0.05) 50%,rgba(11, 11, 11,0.05) 50%, rgba(11, 11, 11,0.05) 100%),linear-gradient(64deg, rgba(54, 54, 54,0.05) 0%, rgba(54, 54, 54,0.05) 50%,rgba(132, 132, 132,0.05) 50%, rgba(132, 132, 132,0.05) 100%),linear-gradient(17deg, rgba(57, 57, 57,0.05) 0%, rgba(57, 57, 57,0.05) 50%,rgba(128, 128, 128,0.05) 50%, rgba(128, 128, 128,0.05) 100%),linear-gradient(332deg, rgba(97, 97, 97,0.05) 0%, rgba(97, 97, 97,0.05) 50%,rgba(85, 85, 85,0.05) 50%, rgba(85, 85, 85,0.05) 100%),linear-gradient(148deg, rgba(237, 237, 237,0.05) 0%, rgba(237, 237, 237,0.05) 50%,rgba(211, 211, 211,0.05) 50%, rgba(211, 211, 211,0.05) 100%),linear-gradient(142deg, rgba(168, 168, 168,0.05) 0%, rgba(168, 168, 168,0.05) 50%,rgba(32, 32, 32,0.05) 50%, rgba(32, 32, 32,0.05) 100%),linear-gradient(15deg, rgba(225, 225, 225,0.05) 0%, rgba(225, 225, 225,0.05) 50%,rgba(228, 228, 228,0.05) 50%, rgba(228, 228, 228,0.05) 100%),linear-gradient(5deg, rgba(104, 104, 104,0.05) 0%, rgba(104, 104, 104,0.05) 50%,rgba(43, 43, 43,0.05) 50%, rgba(43, 43, 43,0.05) 100%),radial-gradient(circle at center center, hsl(290,5%,8%),hsl(290,5%,8%));

  margin: 0;
  padding: 0;
  height: 100vh;
}
header{
  padding: 15px 10px;
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px
}
header .cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
header a{
  color: #fff;
  text-decoration: none;
}
header a i{
  font-size: 20px
}
header h2{
  font-size: 16px;
  color: #fff;
}
header h2:first-letter{
  color: #f10;
}
.container {
  width: 90%;
  margin: 30px auto;
  background-color: transparent;
  padding: 35px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #515258;
}
form{
  width: 100%;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 18px
}

.btn {
  background-color: var(--main-color);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold

}